@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-100;
}


/* styles.css */
.custom-clip-path {
  clip-path: polygon(10 0, 90% 0, 90% 100%, 0% 100%);
  bottom: -2px;
}
.glow-bright:hover {
  box-shadow: 0 0 8px 3px rgba(255, 0, 0, 0.7);
}

.icon-glow {
  filter: drop-shadow(0 0 3px rgba(252, 165, 165, 0.0)); /* red-300 glow */
  transition: filter 0.2s ease, color 0.2s ease, transform 0.2s ease;
  color: inherit; /* ensures fill="inherit" works */
}

.icon-glow:hover {
  filter: drop-shadow(0 0 6px rgba(230, 68, 68, 0.8)); /* red-500 stronger glow */
  fill: rgba(255, 68, 68, 0.8); /* red-500 color */
  transform: scale(1.2);
}


@media (min-width: 768px) {
  .custom-clip-path {
    clip-path: polygon(0 0, 52% 0, 100% 100%, 0% 100%);
  }
}

@media (max-width: 767px){
  .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
}


.break-all {
  overflow-wrap: break-word;
  word-break: break-word;
}


body, html {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

